.container {
    max-width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 15%;
    float: left;
}

header div {
    /*display: inline-block;*/
    /*vertical-align: top;*/
    float: left;
}

header div p{
    font-size: 0.8em;
}

main {
    margin-top: 10%;
}

section {
    /*display: inline-block;*/
    float: left;

}

#about {
    width: 40%;
    vertical-align: top;
    padding-right: 2%;
    clear: left;
}

#post {
    width: 55%;
    border-left: 2px solid black;
    padding-left: 2%;
}